<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xzt.interview.mapper.BlacklistMapper">

    <select id="list" resultType="cn.xzt.interview.DTO.BlacklistDTO">
        select * from blacklist
    </select>

    <insert id="create" parameterType="cn.xzt.interview.domain.Blacklist" useGeneratedKeys="true" keyProperty="blacklistId">
        INSERT INTO blacklist (ip, visitor, status) VALUES (#{ip}, #{visitor}, 1)
    </insert>

    <select id="selectBlacklistById" resultType="cn.xzt.interview.domain.Blacklist">
        SELECT * FROM blacklist WHERE blacklist_id = #{id}
    </select>

    <delete id="remove">
        DELETE FROM blacklist WHERE blacklist_id = #{id}
    </delete>


</mapper>