<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xzt.interview.mapper.CommentMapper">

    <insert id="insert">

      INSERT INTO comment (interview_id,visitor,visitor_ip,content) VALUES (#{interviewId},#{visitorName},#{visitorIp},#{content})

    </insert>

    <select id="selectIp" resultType="java.lang.String">
        SELECT visitor_ip FROM `comment` WHERE comment_id = #{id}
    </select>

    <update id="updateContent">

        UPDATE `comment` SET content=#{content},status=#{status} WHERE comment_id = #{id}
    </update>

    <select id="selectByInterviewId" resultType="cn.xzt.interview.DTO.CommentDTO">
        SELECT comment.*  FROM `comment` WHERE comment.interview_id=#{interviewId} AND comment.status=0
        AND ( comment.visitor_ip IN ( SELECT ip FROM blacklist WHERE status = 0  ) OR comment.visitor_ip NOT IN (SELECT ip FROM blacklist ) ) ORDER BY comment.create_time DESC
    </select>


    <delete id="deleteById">
        DELETE FROM comment WHERE comment_id IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
    </delete>
</mapper>