<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xzt.interview.mapper.InterviewRemovePicMapper">
    <delete id="removePic" parameterType="cn.xzt.interview.domain.InterviewPic">
          delete from interview_pic where pic_id=#{picId}
    </delete>


</mapper>