<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xzt.interview.mapper.SpeakerOpinionMapper">
   <insert id="addspeakerOpinion">
          insert into speaker_opinion ( speaker_id, content, enable
      )
    values ( #{speakerId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},
      #{enable,jdbcType=INTEGER}
      )
   </insert>


    <update id="updateByPrimaryKeySelective"  >
        update speaker_opinion
        <set >
            <if test="speakerId != null" >
                speaker_id = #{speakerId},
            </if>
            <if test="content != null" >
                content = #{content},
            </if>
        </set>
        where opinion_id = #{opinionId}
    </update>


    <!--批量删除，假删除-->
    <update id="romove" parameterType="java.lang.String">
        update speaker_opinion
        set  enable=1
        where opinion_id in
        <foreach collection="array"  item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

</mapper>